.card-container {
  border-radius: 10px;
  color: rgb(244, 244, 244);
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;

  margin-right: 10px;
  width: 300px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  display: flex;

  align-items: stretch;
  flex-direction: column;
  text-align: center;
  h2 {
    margin-top: 6px;
    border-bottom: 2px solid red;
    padding: 5px 0px;
  }
}

.count-numbers {
  font-size: 22px;
  padding-bottom: 10px;
}
